$blue_light: #C4DBF1;
$blue_white: #F0F8FF;
$blue_dark: #369;
$gray: #888;
$lightgray: #F3F3F3;
$green: #79B949;
$red: #D16063;
$path: 'chrome-extension://flfdbombebgijiipbdejcdjffnebcbia/';

html, body {
	background-color: $lightgray !important;
}

hr {
	border-color: $blue_light !important;
	border-bottom: none !important;
	margin: 10px 0 !important;
}

.SRInput {
	border: 1px solid $blue_light !important;
	width: 100% !important;
	box-sizing: border-box;
	padding: 6px !important;
	box-sizing: border-box !important;
	-webkit-box-shadow: none !important; // Used in preferences
	box-shadow: none !important;

	&:focus, &:active {
		outline: none;
		border-color: $blue_dark !important;
	}
	&::-webkit-input-placeholder:first-letter {
		text-transform: uppercase;
	}
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"] {
	@extend .SRInput;
	height: auto !important;
}

.preftable input {
	width: auto !important;
}

textarea {
	@extend .SRInput;
	min-height: 100px !important;
}

button, select, input[type="submit"] {
	padding: 6px !important;
	border-radius: 1px !important;
	border: 1px solid $blue_light !important;
	text-transform: capitalize !important;
	background-color: white !important;
	color: $blue_dark !important;
	height: auto !important;
	-webkit-user-select: none;

	&:hover, &:active, &:focus {
		border-color: $blue_dark !important;
		background-color: $blue_white !important;
		outline: none !important;
	}
}

.infobar {
	border-radius: 1px !important;
	background-color: #FFFAE5 !important;
	border-color: #F6E69F !important;
	color: $blue_dark;
}

.info-notice {
	border-radius: 1px !important;
	background-color: $blue_white !important;
	border: 1px solid $blue_light;
}

.livePreview {
		background-color: white !important;
		background-image: none !important;
		border: 1px solid $blue_light !important;
		border-radius: 1px !important;
	> h3 {
		background-color: $blue_white !important;
		background-image: none !important;
		border-color: $blue_light !important;
	}
	> .md {
		background-color: white !important;
		background-image: none !important;
	}
}

.titlebox {
	.add, .RESshortcutside, .RESDashboardToggle {
		padding: 3px 6px !important;
		background-image: none !important;
		background-color: $green !important;
		border-radius: 1px !important;
		font-weight: normal !important;
		text-transform: capitalize;

	}
	.remove {
		@extend .add;
		background-color: $red !important;
	}
}

.arrow {
	background-position: 0 0 !important;
	background-size: 100% !important;
	width: 15px;
	height: 15px;
}

.domain, .linkflairlabel {
	display: none !important;
}

.arrow.up {
	background-image: url($path + 'img/arrows/arrow_up.png') !important;
}

.upmod {
	background-image: url($path + 'img/arrows/arrow_up_vote.png') !important;
}

.arrow.down {
	background-image: url($path + 'img/arrows/arrow_down.png') !important;
}
.downmod {
	background-image: url($path + 'img/arrows/arrow_down_vote.png') !important;
}

.expando-button {
	$expando_width: 24px;

	min-width: $expando_width !important;
	min-height: $expando_width !important;
	width: $expando_width !important;
	height: $expando_width !important;
	background-size: 144px !important;
	background-image: url($path + 'img/buttons/buttons.png') !important;
	background-position-y: 0 !important;
	background-repeat: no-repeat !important;


	&.video.collapsed {
		background-position-x: 0 * $expando_width !important;
		&:hover {
			background-position-y: -$expando_width !important;
		}
	}

	&.video.expanded {
		background-position-x: -1 * $expando_width !important;
		&:hover {
			background-position-y: -$expando_width !important;
		}
	}

	&.selftext.collapsed {
		background-position-x: -2 * $expando_width !important;
		&:hover {
			background-position-y: -$expando_width !important;
		}
	}

	&.selftext.expanded {
		background-position-x: -3 * $expando_width !important;
		&:hover {
			background-position-y: -$expando_width !important;
		}
	}

	&.image.collapsed {
		width: $expando_width !important;
		background-position-x: -4 * $expando_width !important;
		&:hover {
			background-position-y: -$expando_width !important;
		}
	}

	&.image.expanded {
		width: $expando_width !important;
		background-position-x: -5 * $expando_width !important;
		&:hover {
			background-position-y: -$expando_width !important;
		}
	}
}

// Capitalize
.user,
#mail,
.pref-lang,
.logout,
#search input[name="q"]::-webkit-input-placeholder,
#searchexpando,
.goldvertisement,
.goldvertisement a,
.right,
.account-activity-box a,
.titlebox .bottom,
.helplink,
.date,
.shortlink,
.roundfield .title,
.info-notice,
.pretty-form + h1,
#remember-me > label,
#remember-me > .recover-password,
.bottom .age,
#RESShortcuts, {
	&:first-letter {
		text-transform: uppercase !important;
	}
}