/*
 *  Modified version of the modified version of NickEntin
 *  http://codepen.io/NickEntin/pen/FHxts
 *  NickEntin modified it from @jimmyamash
 *  http://jimmyamash.com/idealab/loaders/loaders.html
 */

@-webkit-keyframes heartbeat{
	0%		{ -webkit-transform: scale(.75,.75); }
	16%		{ -webkit-transform: scale(1,1); }
	17%		{ background: $blue_light; }
	33%		{ -webkit-transform: scale(.75,.75); }
	49%		{ -webkit-transform: scale(1,1); }
	50%		{ background: $blue_light; }
	100%	{ -webkit-transform: scale(.75,.75); }
}

@-moz-keyframes heartbeat{
	0%		{ -moz-transform: scale(.75,.75); }
	16%		{ -moz-transform: scale(1,1); }
	17%		{ background: $blue_light; }
	33%		{ -moz-transform: scale(.75,.75); }
	49%		{ -moz-transform: scale(1,1); }
	50%		{ background: $blue_light; }
	100%	{ -moz-transform: scale(.75,.75); }
}

@keyframes heartbeat{
	0%		{ transform: scale(.75,.75); }
	16%		{ transform: scale(1,1); }
	17%		{ background: $blue_light; }
	33%		{ transform: scale(.75,.75); }
	49%		{ transform: scale(1,1); }
	50%		{ background: $blue_light; }
	100%	{ transform: scale(.75,.75); }
}

.heartbeat {
	height: 30px !important;
	width: 30px !important;
	margin: 0 auto !important;

	border-radius: 30px !important;
	background: $blue_light_half !important;
	box-shadow: none !important;

	-webkit-animation: heartbeat 0.8s infinite !important;
}
