#header {

	#userbarToggle {
		background-color: transparent !important;
		color: $blue_dark !important;
		border: none !important;
		margin-bottom: 1px !important;
	}

	#srLeftContainer,
	#RESShortcutsViewport,
	#RESShortcutsEditContainer {
		@extend #sr-more-link;
	}

	#RESShortcutsEditContainer {
		background: transparent !important;

		#RESShortcutsSort,
		#RESShortcutsRight,
		#RESShortcutsAdd,
		#RESShortcutsTrash,
		#RESShortcutsLeft {
			background: transparent !important;
		}
	}
}

#RESShortcutsAddFormContainer, #srList {
	z-index: $header_z_index + 1 !important; // Needs to be above #header
}

.commentingAs {
	margin: 0 0 0 10px !important;
	line-height: 27px !important;
}

.RESMacroWrappingSpan {
	margin: 0 !important;
}

.usertext-edit {
	.markdownEditor-wrapper {
		margin-bottom: 6px !important;
		width: auto !important;
		.markdownEditor {
			.edit-btn {
				$edit_height: 25px;
				height: $edit_height !important;
				border-radius: 1px !important;
				border: 1px solid $blue_light !important;
				background-image: url($path_markdown) !important;
				background-size: 32px 250px !important;
				// For some reason overflow: hidden hides the border, but having it visible
				// shows the text, so we're setting the text color to transparent.
				//overflow: visible !important;
				//color: transparent !important;
				&:hover, &:active, &:focus {
					border-color: $blue_dark !important;
					background-color: $blue_white !important;
					outline: none !important;
				}
				&.btn-bold {
					background-position: 0 ($edit_height * -0) !important;
				}
				&.btn-italic {
					background-position: 0 ($edit_height * -1) !important;
				}
				&.btn-strike {
					background-position: 0 ($edit_height * -2) !important;
				}
				&.btn-superscript {
					background-position: 0 ($edit_height * -3) !important;
				}
				&.btn-link {
					background-position: 0 ($edit_height * -4) !important;
				}
				&.btn-quote {
					background-position: 0 ($edit_height * -5) !important;
				}
				&.btn-code {
					background-position: 0 ($edit_height * -6) !important;
				}
				&.btn-list-unordered {
					background-position: 0 ($edit_height * -7) !important;
				}
				&.btn-list-ordered {
					background-position: 0 ($edit_height * -8) !important;
				}
				&.btn-table {
					background-position: 0 ($edit_height * -9) !important;
				}
			}
		}
	}
}

#REScommentSubToggle,
.RESBigEditorPop {
	@extend button;
}

.RESBigEditorPop {
	background-image: url($path_fullscreen) !important;
	background-size: 12px !important;
	background-position: 7px 50% !important;
}

.RESCloseButton {
	@extend button;
	padding: 0 !important;
}

.NERPageMarker {
	@extend .footer;
	text-transform: none !important;
	box-sizing: border-box !important;
}

#progressIndicator {
	width: 100% !important;
	@extend .NERPageMarker;
}

.RESCharCounter {
	margin-left: 10px !important;
	margin-bottom: 0 !important;
	line-height: 27px !important;
	font-size: 100% !important;
}

.RESDialogSmall {
	@extend .livePreview;
}

// Cog image to open the preference dropdown
#openRESPrefs {
	position: absolute !important;
	right: 3px !important;
	top: -17px !important;
}

.RESDropdownList, #RESPrefsDropdown {
	background-color: white !important;
	border: 1px solid $blue_dark !important;
	z-index: $header_z_index + 1 !important; // Under the options wheel thingy
	border-radius: 1px !important;
}

#RESPrefsDropdown {
	right: -1px !important;

	#RESDropdownOptions {
		li, a {
			font-weight: normal !important;
			color: $blue_dark !important;
			i {
				color: inherit !important;
				border-color: $blue_dark !important;
				@if $path_prefs_dropdown {
					background-image: url($path_prefs_dropdown) !important;
				}
			}
			&:hover {
				background-color: $blue_white !important;
			}
			&:first-letter {
				text-transform: uppercase !important;
			}
			&:last-of-type {
				border-bottom: none !important;
			}
		}
	}
}

.RESGearOverlay {
	@extend .RESDropdownList;
	border: none !important;
	background: none !important;
	visibility: hidden !important;
	margin: 4px 5px 0px 5px !important;
}

#RESConsole input {
	width: auto !important;
}

#RESMenu li {
	@extend button;
}

.RESMacroDropdownTitle {
	@extend button;
	text-decoration: none !important;
	padding-right: 25px !important;
}

.RESMacroDropdown {
	border: 1px solid $blue_white !important;
	border-radius: 1px;
	margin-top: 12px !important;

	&:hover {
		border-color: $blue_dark !important;
		li {
			&:first-of-type {
				border-top: none !important;
			}
			border-color: $blue_dark !important;
			border-top: 1px solid $blue_dark !important;
			&:first-of-type {
				border-top: none !important;
			}
		}
	}

	.RESMacroDropdownTitleOverlay {
		@extend .RESMacroDropdownTitle;
		border-bottom: none !important;
	}

	.RESMacroDropdownList {
		@extend .RESDropdownList;
		border-color: $blue_white !important;
		border-right: none !important;
		border-left: none !important;
		li {
			border-color: $blue_white !important;
			&:last-child {
				border-bottom: none !important;
			}
			&:hover {
				background-color: $blue_white !important;
				border-color: $blue_dark !important;
			}
			&:first-letter {
				text-transform: uppercase !important;
			}
			a {
				color: $blue_dark !important;
				font-weight: normal !important;
				&:hover {
					background-color: $blue_white !important;
				}
				&:focus, &:active {
					outline: none !important;
				}
			}
		}
	}
}

#NERContent {
	// 73px header height + 5px bottom padding + 1px border bottom = 79px
	// 5px from header top.
	top: 84px !important;
	.RESThrobber {
		// Override the negative top value of the footer's/#progressIndicator .RESThrobber
		top: 0 !important;
		margin: 10px auto !important;
	}
}

#RESConsoleContainer {
	@extend #NERContent;
	#SearchRES-input-container {
		margin-top: 0 !important;

		#SearchRES-input {
			width: 200px !important;
		}
	}
}

// Never ending reddit, loading animation
#progressIndicator {
	background: transparent !important;
	border: none !important;
	padding: 25px !important;
	height: 50px !important;
	box-sizing: border-box !important;

	// This removed the text completely and the button for the settings, you cannot click the button anyway.
	.NERWidgetText, h2 {
		display: none !important;
	}
}

.RESThrobber {
	@extend .heartbeat;
	display: block !important;
	// Height is 30px, to vertically center it, move it up by half of that.
	top: -15px !important;
	&::before, &::after {
		display: none !important;
	}
}

// When clicking on a comment, RES changes its color.
.RES-keyNav-activeElement .usertext .usertext-body .md {
	background: transparent !important;
}
