#header {

	#userbarToggle {
		background-color: transparent !important;
		color: $blue_dark;
		border: none;
		@extend #mail;
	}

	#RESShortcutsEditContainer {
		background: transparent !important;

		#RESShortcutsSort,
		#RESShortcutsRight,
		#RESShortcutsAdd,
		#RESShortcutsTrash,
		#RESShortcutsLeft {
			background: transparent !important;
		}

		#srLeftContainer, #srDropdown, #RESStaticShortcuts {

		}
	}
}