@import 'default';

// Header
#header {
	background: $blue_white !important;
	border-bottom: 1px solid $blue_light !important;
	height: 73px;
	width: 100% !important;
	padding-bottom: 5px !important;

	#sr-header-area {
		height: 28px !important;
		border-bottom: none !important;
		background: transparent !important;
	}

	#sr-header-area .width-clip, #sr-more-link {
		padding: 5px !important;
		background: transparent;
	}

	#sr-header-area .sr-list {
	    text-overflow: ellipsis;
	    max-width: 90%;
	    display: block;
	}

	.tabmenu li a {
		font-weight: normal !important;
		background-color: transparent !important;
		border: none !important;
		text-transform: capitalize !important;
		// Capitalize only works on blocks. So instead of using inline, we use blocks and left float.
		display: block;
		float: left;
		padding: 0 10px !important;
	}

	#header-bottom-right {
		display: table;
		background-color: transparent !important;
		border-spacing: 0;
		bottom: -3px;
		top: auto;
		font-size: 11px !important;
	}

	#header-bottom-right .separator {
		display: none !important;
	}

	#header-bottom-right {
		.user,
		#mail,
		.pref-lang,
		.logout {
			display: block;
			line-height: 24px;
			float: left;
			text-transform: capitalize;
			padding: 0 5px;
			width: auto;
			height: auto;
			font-weight: normal;
		}
	}

	.logout {
		text-transform: lowercase !important; // Prevent double capitals from capitalize on 2 words like 'Log out' (Log Out -> Log outline-offset: )
		a {
			display: block;
		}
	}

	.userkarma {
		width: 100%;
		border-bottom: none;
	}

	#mail {
		position: relative;
		padding-left: 0 !important;
		margin-left: 5px !important;
		width: 15px !important;
		height: 22px !important;
		top: 7px;
	}
}

// Right Sidebar
.side {
	background: transparent !important;

	.spacer {
		background-color: transparent !important;
		margin: 10px 0 !important;
		&:first-of-type {
			margin-top: 5px !important;
		}
	}

	#search input[name="q"] {
		border-radius: 1px !important;
		border-color: $blue_light;
		width: 300px !important;
		padding: 5px !important;
		-webkit-box-sizing: border-box;
		font-size: 15px;
		text-align: center;
		margin-top: 0 !important;
	}

	#search input[name="q"]:active,
	#search input[name="q"]:focus {
		outline: none !important;
		border: 1px solid $blue_dark;
	}

	.morelink {
		background: none !important;
		background-color: #F0F8FF !important;
		font-weight: normal !important;
		color: $blue_dark !important;
		border: none !important;
	}

	.morelink a {
		border: 1px solid $blue_light !important;
		border-radius: 1px !important;
	}

	.morelink a:hover {
		border: 1px solid $blue_dark !important;
		color: $blue_dark !important;
	}

	.nub {
		display: none;
	}

	.goldvertisement {
		background-color: white !important;
		font-family: normal x-small verdana, arial, helvetica, sans-serif !important;
		padding: 5px !important;
	}

	.bar, .bar span {
		border-radius: 1px !important;
	}

	.goldvertisement .inner {
		border: none !important;
	}

	.goldvertisement a {
		padding: 5px !important;
		font-size: 12px !important;
		border-radius: 1px !important;
		border-bottom-width: 1px !important;
	}


	.sidecontentbox  .content {
		background-color: white !important;
		border-color: $blue_light !important;
		width: 300px !important;
		box-sizing: border-box !important;
		margin-left: 0 !important;
	}

	.gadget {
		padding: 3px !important;

		.midcol {
			width: 15px !important;
			margin: 5px 10px 5px 5px !important;
			display: table-cell;
			float: none;
			vertical-align: middle;
		}

		.entry {
			display: table-cell !important;
			padding-left: 5px;
		}
	}

	.account-activity-box a {
		display: block; // Required for text-transform: uppercase;
	}

	.slidecontentbox .content {
		background-color: white !important;
	}

	.titlebox {
		background-color: white !important;
		border: 1px solid $blue_light !important;
		border-radius: 1px !important;
		padding: 5px;
	}

	.linkinfo {
		background-color: $blue_white !important;
		border: 1px solid $blue_light !important;
		border-radius: 1px !important;
		padding: 5px;
	}
}

.gold-bubble {
	border-radius: 1px;
	top: 400px !important;
	left: 975px !important;
}

// Content

.content {
	margin: 5px !important;

	.spacer {
		margin-bottom: 0 !important;
	}

	#siteTable {
		overflow-x: hidden !important;
		margin-top: 0px !important;

		.link {
			display: table;
			background-color: white;
			padding: 3px 0;
			margin-bottom: 4px;
			border-radius: 1px;
			border: 1px solid $blue_light !important;
			.entry.RES-keyNav-activeElement {
				background: white !important;
			}
			.flat-list {
				padding: 2px 0 !important; // This somehow undoes the stutter effect when opening the expando
			}
		}

		.comment {
			background-color: white;
			border: 1px solid $blue_light !important;
			margin: 0 0 5px 0;
			padding: 5px;
			.entry.RES-keyNav-activeElement {
				background: white !important;
			}
		}

		.last-clicked {
			border: none;
		}

		.rank {
			display: none;
		}

		.midcol {
			float: none;
			max-width: 50px;
			min-width: 50px;
		}

		.entry {
			width: 100%;
			min-height: 60px;
			padding: 0 3px;
		}

		.entry, .thumbnail, .midcol {
			display: table-cell;
			vertical-align: middle;
		}

		.thumbnail {
			min-width: 70px;
			max-width: 70px;
		}

		.md {
			border: none;
			background-color: transparent !important;
			max-width: none;
		}

		.expando-button {
			$expando_width: 24px;

			width: $expando_width !important;
			height: $expando_width !important;
			background-size: 144px !important;
			background-image: url($path + 'img/buttons/buttons.png') !important;
			background-position-y: 0 !important;
			background-repeat: no-repeat !important;


			&.video.collapsed {
				background-position-x: 0 * $expando_width !important;
				&:hover {
					background-position-y: -$expando_width !important;
				}
			}

			&.video.expanded {
				background-position-x: -1 * $expando_width !important;
				&:hover {
					background-position-y: -$expando_width !important;
				}
			}

			&.selftext.collapsed {
				background-position-x: -2 * $expando_width !important;
				&:hover {
					background-position-y: -$expando_width !important;
				}
			}

			&.selftext.expanded {
				background-position-x: -3 * $expando_width !important;
				&:hover {
					background-position-y: -$expando_width !important;
				}
			}

			&.image.collapsed {
				background-position-x: -4 * $expando_width !important;
				&:hover {
					background-position-y: -$expando_width !important;
				}
			}

			&.image.expanded {
				background-position-x: -5 * $expando_width !important;
				&:hover {
					background-position-y: -$expando_width !important;
				}
			}
		}
	}

	.commentarea {
		overflow-x: hidden;

		.comment {
			background-color: white !important;
			border: 1px solid $blue_light !important;
			border-radius: 1px !important;
		}

		.sitetable > .comment .entry.RES-keyNav-activeElement {
			background-color: transparent !important;
			.noncollapsed {
				background-color: transparent !important;
				.md:first-child {
					background-color: transparent !important;
				}
			}
		}
	}

	.usertext-edit {
		width: auto !important;
	}

	.submit.content {
		.formtabs-content {
			width: auto !important;
			overflow: hidden !important;
			.spacer {
				margin-bottom: 5px !important;
				.roundfield, & + .roundfield {
					width: auto !important;
					padding: 5px !important;
					background-color: $blue_light !important;
					border-radius: 1px !important;
					border-color: $blue_dark !important;
					.title {
						display: block; // Needed for capitalization in _default.sccss
						float: left;
						margin-right: 10px;
						line-height: 27px;
					}
					&.captcha {
						margin-bottom: 5px !important;
					}
				}
			}
		}
	}
}

.listing-chooser.initialized {
	// Hide the left sidebar
	display: none !important;
	width: 0 !important;
}

// Footer
.footer {
	border: 1px solid $blue_light !important;
	border-radius: 1px !important;
	text-transform: capitalize !important;
	background: white !important;
}

// Support for RES
@import 'res';