@import 'default';

// Header
#header {
	background: $blue_white !important;
	border-bottom: 1px solid $blue_light !important;
	height: 73px;
	width: 100% !important;
	padding-bottom: 5px !important;

	#sr-header-area {
		height: 28px !important;
		border-bottom: none !important;
		background: transparent !important;
	}

	#sr-header-area .width-clip, #sr-more-link {
		padding: 5px !important;
		background: transparent;
	}

	#sr-header-area .sr-list {
	    text-overflow: ellipsis;
	    max-width: 90%;
	    display: block;
	}

	.tabmenu li a {
		font-weight: normal !important;
		background-color: transparent !important;
		border: none !important;
		text-transform: capitalize !important;
		// Capitalize only works on blocks. So instead of using inline, we use blocks and left float.
		display: block;
		float: left;
		padding: 0 10px !important;
	}

	#header-bottom-right {
		display: table;
		background-color: transparent !important;
		border-spacing: 0;
		bottom: -3px;
		top: auto;
		font-size: 11px !important;
	}

	#header-bottom-right .separator {
		display: none !important;
	}

	#header-bottom-right {
		.user,
		#mail,
		.pref-lang,
		.logout {
			display: block;
			line-height: 24px;
			float: left;
			text-transform: capitalize;
			padding: 0 5px;
			width: auto;
			height: auto;
			font-weight: normal;

			:first-letter {
				text-transform: uppercase;
			}
		}
	}

	.logout {
		text-transform: lowercase !important; // Prevent double capitals from capitalize on 2 words like 'Log out' (Log Out -> Log outline-offset: )
		a {
			display: block;
		}
	}

	.userkarma {
		width: 100%;
		border-bottom: none;
	}

	#mail {
		position: relative;
		padding-left: 0 !important;
		margin-left: 5px !important;
		width: 15px !important;
		height: 22px !important;
		top: 7px;
	}
}

// Right Sidebar
.side {
	background: transparent !important;

	.spacer {
		background-color: transparent !important;
	}

	#search input[name="q"] {
		border-radius: 1px !important;
		border-color: $blue_light;
		width: 300px !important;
		padding: 5px !important;
		-webkit-box-sizing: border-box;
		font-size: 15px;
		text-align: center;
	}

	#search input[name="q"]::-webkit-input-placeholder:first-letter {
		text-transform: uppercase;
	}

	#search input[name="q"]:active,
	#search input[name="q"]:focus {
		outline: none !important;
		border: 1px solid $blue_dark;
	}

	#searchexpando {
		border-radius: 1px !important;
		background-color: #FFFAE5 !important;
		border-color: #F6E69F;
	}

	#searchexpando:first-letter {
		text-transform: uppercase;
	}

	.morelink {
		background: none !important;
		background-color: #F0F8FF !important;
		font-weight: normal !important;
		color: $blue_dark !important;
		border: none !important;
	}

	.morelink a {
		border: 1px solid $blue_light !important;
		border-radius: 1px !important;
	}

	.morelink a:hover {
		border: 1px solid $blue_dark !important;
		color: $blue_dark !important;
	}

	.nub {
		display: none;
	}

	.goldvertisement {
		background-color: white !important;
		font-family: normal x-small verdana, arial, helvetica, sans-serif !important;
		padding: 5px !important;
	}

	.goldvertisement:first-letter {
		text-transform: uppercase;
	}

	.bar, .bar span {
		border-radius: 1px !important;
	}

	.goldvertisement .inner {
		border: none !important;
	}

	.goldvertisement a {
		padding: 5px !important;
		font-size: 12px !important;
		border-radius: 1px !important;
		border-bottom-width: 1px !important;
	}

	.goldvertisement a:first-letter {
		text-transform: uppercase;
	}

	.sidecontentbox  .content {
		background-color: white !important;
		border-color: $blue_light !important;
	}

	.gadget {
		padding: 3px !important;

		.midcol {
			width: 15px !important;
			margin: 5px 10px 5px 5px !important;
			display: table-cell;
			float: none;
			vertical-align: middle;
		}

		.right:first-letter {
			text-transform: uppercase;
		}

		.entry {
			display: table-cell !important;
			padding-left: 5px;
		}
	}

	.account-activity-box a {
		display: block; // Required for text-transform: uppercase;
	}

	.account-activity-box a:first-letter {
		text-transform: uppercase;
	}

	.slidecontentbox .content {
		background-color: white !important;
	}
}

.gold-bubble {
	border-radius: 1px;
	top: 410px !important;
	left: 975px !important;
}

// Content

.content {
	.spacer {
		margin-bottom: 0 !important;
	}

	#siteTable {
		margin-top: 0px !important;

		.thing {
			display: table;
			background-color: white;
			padding: 3px 0;
			margin-bottom: 4px;
			border-radius: 1px;
			border: 1px solid $blue_light !important;
			.RES-keyNav-activeElement {
				background: white !important;
			}
		}
		.last-clicked {
			border: none;
		}

		.rank {
			display: none;
		}

		.midcol {
			float: none;
			max-width: 50px;
			min-width: 50px;
		}

		.entry {
			width: 100%;
			min-height: 60px;
			padding: 0 3px;
		}

		.entry, .thumbnail, .midcol {
			display: table-cell;
			vertical-align: middle;
		}

		.thumbnail {
			min-width: 70px;
			max-width: 70px;
		}

		.md {
			border: none;
			background-color: transparent !important;
			max-width: none;
		}

		.expando-button.selftext {
			font-size: 13px !important;
			display: table-cell !important;
			text-align: center !important;
			background: transparent !important;
			vertical-align: middle !important;
			border: 1px solid $blue_dark !important;
			width: 24px !important;
			color: $blue_dark !important;
			height: 24px !important;
			line-height: 18px !important;
			-webkit-box-sizing: border-box !important;
			border-radius: 1px !important;
			padding: 0 1px 0 2px !important;
		}

		.expando-button.selftext:before {
			position: absolute;
			display: table-cell;
			padding: 5px 0 0 1px;
			content: "Aa" !important;
			vertical-align: sub !important;
		}

		$plus_padding: 12px;
		.expando-button.selftext:after {
			content: "+" !important;
			font-size: 9px !important;
			line-height: 0px !important;
			vertical-align: super !important;
			padding: 5px 0 0 $plus_padding;
			position: absolute;
			display: table-cell;
		}

		.expando-button.selftext.expanded:after {
			content: "-" !important;
			padding-left: $plus_padding + 2;
		}
	}
}

.listing-chooser.initialized {
	// Hide the left sidebar
	display: none !important;
	width: 0 !important;
}

// Footer
.footer {
	border: 1px solid $blue_light !important;
	border-radius: 1px !important;
	text-transform: capitalize !important;
	background: white !important;
}

// Support for RES
@import 'res';