$blue_white: #C4DBF1;
$blue_dark: #369;

// HEADER
#header {
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(white)) !important;
	border-bottom: none !important;
	height: 73px;
	width: 100% !important;

	#sr-header-area {
		height: 28px !important;
		border-bottom: none !important;
		background: transparent !important;
	}

	#sr-header-area .width-clip, #sr-more-link {
		padding: 5px !important;
		margin-bottom: 10px;
		background: transparent;
	}

	#sr-header-area .sr-list {
	    text-overflow: ellipsis;
	    max-width: 90%;
	    display: block;
	}

	.tabmenu li a {
		font-weight: normal !important;
		background-color: transparent !important;
		border: none !important;
		text-transform: capitalize !important;
		// Capitalize only works on blocks. So instead of using inline, we use blocks and left float.
		display: block;
		float: left;
		padding: 0 10px !important;
	}

	#header-bottom-right {
		display: table;
		background-color: transparent !important;
		border-spacing: 0;
	}

	#header-bottom-right .separator {
		display: none !important;
	}

	#header-bottom-right .user, #mail, #header-bottom-right .pref-lang, #header-bottom-right .logout {
		vertical-align: middle;
		display: table-cell !important;
		float: left;
		padding: 0 5px;
		text-transform: capitalize !important;
		width: auto;
		font-weight: normal;
	}

	.user {
		width: 90%;
	}

	.userkarma {
		width: 100%;
	}

	#mail {
		padding-left: 0 !important;
		margin-left: 5px !important;
		width: 15px !important;
	}
}

// SIDEBAR
.side {
	#search input[name="q"] {
		border-radius: 1px !important;
		border-color: $blue_white;
		width: 300px !important;
		padding: 5px !important;
		-webkit-box-sizing: border-box;
		font-size: 15px;
		text-align: center;
	}

	#search input[name="q"]::-webkit-input-placeholder:first-letter {
		text-transform: uppercase;
	}

	#search input[name="q"]:active, #search input[name="q"]:focus {
		outline: none !important;
		border: 1px solid $blue_dark;
	}

	#searchexpando {
		border-radius: 1px !important;
		background-color: #FFFAE5 !important;
		border-color: #F6E69F;
	}

	#searchexpando:first-letter {
		text-transform: uppercase;
	}

	.morelink {
		background: none !important;
		background-color: #F0F8FF !important;
		font-weight: normal !important;
		color: $blue_dark !important;
		border: none !important;
	}

	.morelink a {
		border: 1px solid $blue_white !important;
		border-radius: 1px !important;
	}

	.morelink a:hover {
		border: 1px solid $blue_dark !important;
		color: $blue_dark !important;
	}

	.nub {
		display: none;
	}

	.goldvertisement {
		font-family: normal x-small verdana, arial, helvetica, sans-serif !important;
		padding: 5px !important;
	}

	.goldvertisement:first-letter {
		text-transform: uppercase;
	}

	.bar, .bar span {
		border-radius: 1px !important;
	}

	.goldvertisement .inner {
		border: none !important;
	}

	.goldvertisement a {
		padding: 5px !important;
		font-size: 12px !important;
		border-radius: 1px !important;
		border-bottom-width: 1px !important;
	}

	.goldvertisement a:first-letter {
		text-transform: uppercase;
	}

	.gold-bubble {
		top: 405px !important;
		left: 975px !important;
	}

	.gadget {
		padding: 3px !important;
	}

	.gadget .midcol {
		width: 15px !important;
		margin: 5px 10px 5px 5px !important;
		display: table-cell;
		float: none;
		vertical-align: middle;
	}

	.gadget .right:first-letter {
		text-transform: uppercase;
	}

	.account-activity-box a {
		display: block; // Required for text-transform: uppercase;
	}

	.account-activity-box a:first-letter {
		text-transform: uppercase;
	}
}

// CONTENT

// Hide the left sidebar
.listing-chooser.initialized {
	display: none !important;
	width: 0 !important;
}

.content {
	 .spacer {
		margin-bottom: 0 !important;
	}

	#siteTable {
		margin-top: 0px !important;

		.rank {
			display: none;
		}

		.midcol {
			display: table-cell;
			float: none;
			vertical-align: middle;
		}

		.thing {
			display: table;
		}

		.entry, .thumbnail, .midcol {
			display: table-cell;
			vertical-align: middle;
		}

		.thumbnail {
			margin-left: 10px !important;
		}

		.arrow {
			background-position: 0 0 !important;
			background-size: 100% !important;
			width: 15px;
			height: 15px;
		}

		.arrow.up {
			background-image: url('chrome-extension://flfdbombebgijiipbdejcdjffnebcbia/img/arrows/arrow_up.png') !important;
		}

		.upmod {
			background-image: url('chrome-extension://flfdbombebgijiipbdejcdjffnebcbia/img/arrows/arrow_up_vote.png') !important;
		}

		.arrow.down {
			background-image: url('chrome-extension://flfdbombebgijiipbdejcdjffnebcbia/img/arrows/arrow_down.png') !important;
		}
		.downmod {
			background-image: url('chrome-extension://flfdbombebgijiipbdejcdjffnebcbia/img/arrows/arrow_down_vote.png') !important;
		}

		.usertext .md {
			border-radius: 1px !important;
			border-color: $blue_white !important;
			background-color: #FEFEFE !important;
		}

		.expando-button.selftext {
			font-size: 13px !important;
			display: table-cell !important;
			text-align: center !important;
			background: #FDFDFD !important;
			vertical-align: middle !important;
			border: 1px solid #888 !important;
			width: 24px !important;
			color: #888 !important;
			height: 24px !important;
			line-height: 18px !important;
			-webkit-box-sizing: border-box !important;
			border-radius: 1px !important;
			padding: 0 1px 0 2px !important;
		}

		.expando-button.selftext:before {
			position: absolute;
			display: table-cell;
			padding: 3px 0 0 1px;
			content: "Aa" !important;
			vertical-align: sub !important;
		}

		$plus_padding: 12px;
		.expando-button.selftext:after {
			content: "+" !important;
			font-size: 9px !important;
			line-height: 0px !important;
			vertical-align: super !important;
			padding: 5px 0 0 $plus_padding;
			position: absolute;
			display: table-cell;
		}

		.expando-button.selftext.expanded:after {
			content: "-" !important;
			padding-left: $plus_padding + 2;
		}
	}
}

// FOOTER

@import 'res';