$path_reddit_logo: '%%reddit-logo%%';

$path_arrow_up: '%%arrow-up%%';
$path_arrow_up_vote: '%%arrow-up-vote%%';
$path_arrow_down: '%%arrow-down%%';
$path_arrow_down_vote: '%%arrow-down-vote%%';

$path_buttons_main: '%%buttons%%';

$path_mail: '%%mail%%';

$path_markdown: '%%markdown%%';
$path_fullscreen: '%%fullscreen%%';

$path_prefs_dropdown: false;

@import 'main';
