.iconsproj
.AppleDouble
.Trashes
/img/arrows/arrows.sketch
/img/buttons/buttons.sketch
/img/design.sketch
/css
/img/webstore/screenshots/
/img/webstore/large_promo_image.png
/img/webstore/small_promo_image.png
.LSOverride
.Spotlight-V100
.DS_Store
._*
.sublime-project
.sublime-workspace
