#RESShortcutsAddFormContainer, #srList {
	// Needs to be above #header
	z-index: $header_z_index + 1 !important;
}

.commentingAs {
	margin: 0 0 0 10px !important;

	line-height: 27px !important;
}

.RESMacroWrappingSpan {
	margin: 0 !important;
}

.usertext-edit {
	.markdownEditor-wrapper {
		width: auto !important;
		margin-bottom: 6px !important;

		.markdownEditor {
			.edit-btn {
				$edit_height: 25px;

				float: left !important;

				height: $edit_height !important;
				border: 1px solid $blue_light !important;
				border-radius: 1px !important;

				background-image: url($path_markdown) !important;
				background-size: 32px 250px !important;

				&:hover, &:active, &:focus {
					border-color: $blue_dark !important;
					outline: none !important;

					background-color: $blue_white !important;
				}

				&.btn-bold {
					background-position: 0 ($edit_height * -0) !important;
				}

				&.btn-italic {
					background-position: 0 ($edit_height * -1) !important;
				}

				&.btn-strike {
					background-position: 0 ($edit_height * -2) !important;
				}

				&.btn-superscript {
					background-position: 0 ($edit_height * -3) !important;
				}

				&.btn-link {
					background-position: 0 ($edit_height * -4) !important;
				}

				&.btn-quote {
					background-position: 0 ($edit_height * -5) !important;
				}

				&.btn-code {
					background-position: 0 ($edit_height * -6) !important;
				}

				&.btn-list-unordered {
					background-position: 0 ($edit_height * -7) !important;
				}

				&.btn-list-ordered {
					background-position: 0 ($edit_height * -8) !important;
				}

				&.btn-table {
					background-position: 0 ($edit_height * -9) !important;
				}
			}
		}
	}
}

#REScommentSubToggle,.RESBigEditorPop {
	@extend button;
}

.RESBigEditorPop {
	background-image: url($path_fullscreen) !important;
	background-position: 7px 50% !important;
	background-size: 12px !important;
}

.RESCloseButton {
	@extend button;

	padding: 0 !important;
}

.NERPageMarker {
	@extend .footer;

	box-sizing: border-box !important;

	text-transform: none !important;
}

.RESCharCounter {
	margin-bottom: 0 !important;
	margin-left: 10px !important;

	font-size: 100% !important;
	line-height: 27px !important;
}

.RESDialogSmall {
	@extend .livePreview;
}

#RESConsole input {
	width: auto !important;
}

#RESMenu li {
	@extend button;
}

.RESMacroDropdownTitle {
	@extend button;

	padding-right: 25px !important;

	text-decoration: none !important;
}

.RESMacroDropdown {
	margin-top: 12px !important;
	border: 1px solid $blue_white !important;
	border-radius: 1px;

	&:hover {
		border-color: $blue_dark !important;

		li {
			border-color: $blue_dark !important;
			border-top: 1px solid $blue_dark !important;

			&:first-of-type {
				border-top: none !important;
			}
		}
	}

	.RESMacroDropdownTitleOverlay {
		@extend .RESMacroDropdownTitle;

		border-bottom: none !important;
	}

	.RESMacroDropdownList {
		@extend .RESDropdownList;

		border-color: $blue_white !important;
		border-left: none !important;
		border-right: none !important;

		li {
			border-color: $blue_white !important;

			&:last-child {
				border-bottom: none !important;
			}

			&:hover {
				border-color: $blue_dark !important;

				background-color: $blue_white !important;
			}

			&:first-letter {
				text-transform: uppercase !important;
			}

			a {
				color: $blue_dark !important;
				font-weight: normal !important;

				&:hover {
					background-color: $blue_white !important;
				}

				&:focus, &:active {
					outline: none !important;
				}
			}
		}
	}
}

#NERContent {
	// 73px header height + 5px bottom padding + 1px border bottom = 79px
	// 5px from header top.
	top: 84px !important;

	.RESThrobber {
		// Override the negative top value of the footer's/#progressIndicator .RESThrobber
		top: 0 !important;

		margin: 10px auto !important;
	}
}

#RESConsoleContainer {
	@extend #NERContent;

	#SearchRES-input-container {
		margin-top: 0 !important;

		#SearchRES-input {
			width: 200px !important;
		}
	}
}

// Never ending reddit, loading animation
#progressIndicator {
	height: 50px !important;
	box-sizing: border-box !important;
	padding: 25px !important;
	border: none !important;

	background: transparent !important;

	// This removed the text completely and the button for the settings, you cannot click the button anyway.
	.NERWidgetText, h2 {
		display: none !important;
	}
}

.RESThrobber {
	@extend .heartbeat;

	display: block !important;
	// Height is 30px, to vertically center it, move it up by half of that.
	top: -15px !important;

	&::before, &::after {
		display: none !important;
	}
}

// When clicking on a comment, RES changes its color.
.RES-keyNav-activeElement .usertext .usertext-body .md {
	background: transparent !important;
}
