.content {
    margin: 5px !important;

    .spacer {
        margin-bottom: 0 !important;
    }

    #siteTable {
        overflow-x: hidden !important;
        margin-top: 0px !important;

        .link {
            display: table !important;

            padding: 3px 0 !important;
            margin-bottom: 4px !important;
            border: 1px solid $blue_light !important;
            border-radius: 1px !important;

            background-color: white !important;

            .entry.RES-keyNav-activeElement {
                background: white !important;
            }

            .flat-list {
                // This somehow undoes the stutter effect when opening the expando
                padding: 2px 0 !important;
            }

            .usertext {
                max-width: $preferred_width !important;
            }
        }

        .comment {
            padding: 5px !important;
            margin: 0 0 5px 0 !important;
            border: 1px solid $blue_light !important;

            background-color: white !important;

            .entry.RES-keyNav-activeElement {
                background: white !important;
            }
        }

        .last-clicked {
            border: none !important;
        }

        .rank {
            display: none !important;
        }

        .midcol {
            float: none !important;

            max-width: 50px !important;
            min-width: 50px !important;
        }

        .entry {
            min-height: 60px !important;
            width: 100% !important;
            padding: 0 3px !important;
        }

        .entry, .thumbnail, .midcol {
            display: table-cell !important;
            vertical-align: middle !important;
        }

        .thumbnail {
            max-width: 70px !important;
            min-width: 70px !important;
        }

        .md {
            max-width: none !important;
            border: none !important;

            background-color: transparent !important;
        }
    }

    .bottom-area {
        margin-bottom: 6px !important;
        // There already is 3px to the top of this for some reason
        margin-top: 3px !important;

        line-height: 27px !important;

        span, a, button {
            margin-bottom: 0 !important;
            margin-top: 0 !important;
        }
    }

    .commentarea {
        overflow-x: hidden !important;

        .comment {
            border: 1px solid $blue_light !important;
            border-radius: 1px !important;

            background-color: white !important;
        }

        .sitetable > .comment .entry.RES-keyNav-activeElement {
            background-color: transparent !important;

            .noncollapsed {
                background-color: transparent !important;

                .md:first-child {
                    background-color: transparent !important;
                }
            }
        }
    }

    .usertext {
        margin-bottom: 0 !important;

        .usertext-edit {
            width: auto !important;
        }
    }

    .submit.content {
        .formtabs-content {
            width: auto !important;
            overflow: hidden !important;

            .spacer {
                margin-bottom: 5px !important;

                .roundfield, & + .roundfield {
                    width: auto !important;
                    padding: 5px !important;
                    border: 1px solid $blue_light !important;
                    border-radius: 0 !important;

                    background-color: $blue_white !important;

                    .title {
                        margin-right: 10px !important;

                        line-height: 27px !important;
                    }

                    &.captcha {
                        margin-bottom: 5px !important;
                    }
                }
            }
        }
    }

    .wikititle {
        color: black !important;
    }

    .pageactions {
        border: 1px solid $blue_light !important;
        border-radius: 1px !important;

        background-color: white !important;

        .wikiaction {
            &.wikiaction-current {
                background-color: transparent !important;

                color: orangered !important;
            }
        }
    }

    .wiki-page-content {
        margin: 0 !important;

        .md.wiki {
            padding: 0 10px !important;
            border: 1px solid $blue_light !important;

            background-color: white !important;

            .toc ul {
                border-color: $blue_dark !important;
            }
        }
    }

    .pretty-form {
        overflow-x: hidden !important;

        .linefield {
            width: auto !important;
            margin-bottom: 0 !important;
            border: 1px solid $blue_light !important;
            border-bottom: none !important;
            border-top: none !important;

            background-color: $blue_white !important;

            &:first-of-type {
                border-top: 1px solid $blue_light !important;
            }

            &:last-of-type {
                border-bottom: 1px solid $blue_light !important;
            }
        }
    }
}
