#header {
	z-index: $header_z_index !important;

	height: $header_height !important;
	width: 100% !important;
	box-sizing: border-box !important;
	padding-bottom: 5px !important;
	border-bottom: 1px solid $blue_light !important;

	background: $blue_white !important;

	#sr-header-area {
		height: 28px !important;
		border-bottom: none !important;

		background: transparent !important;
	}

	#sr-header-area .width-clip, #sr-more-link {
		padding: 5px !important;

		background: transparent !important;
	}

	#sr-header-area .sr-list {
		display: block !important;

		max-width: 90% !important;

		text-overflow: ellipsis !important;
	}

	#header-bottom-left {
		#header-img.default-header {
			width: 135px !important;
			margin: 5px 0 0 0 !important;

			background-image: url($path_reddit_logo) !important;
			background-position: center !important;
			background-size: auto 40px !important;
		}

		.tabmenu {
			li a {
				// Capitalize only works on blocks. So instead of using inline, we use blocks and left float.
				display: block !important;
				float: left !important;

				padding: 0 10px !important;
				border: none !important;

				background-color: $blue_white !important;

				font-weight: normal !important;
				text-transform: capitalize !important;
			}
		}
	}

	#header-bottom-right .separator {
		display: none !important;
	}

	#header-bottom-right {
		top: 19px !important;
		.user, #mail, .pref-lang, .logout, #modmail {
			display: inline-block !important;
		}

		#modmail {
			margin-top: 4px !important;
		}

		.user, .pref-lang, .logout {
			float: left !important;

			height: auto !important;
			width: auto !important;
			padding: 0 5px !important;
			margin: 0 !important;

			font-weight: normal !important;
			line-height: 24px !important;

			&:first-letter {
				text-transform: uppercase !important;
			}
		}

		.user {
			// Spacing between userbarToggle from RES and the username
			margin-left: 10px !important;
		}
	}

	.logout {
		text-transform: lowercase !important;

		// Prevent double capitals from capitalize on 2 words like 'Log out' (Log Out -> Log outline-offset: )
		a {
			// For :first-letter uppercase
			display: block !important;
		}
	}

	.userkarma {
		// Removes the dotted bottom border below your karma
		border-bottom: none !important;
	}

	#mail {
		float: left !important;

		height: 10px !important;
		padding: 0 !important;
		margin-top: 5px !important;

		background-image: url($path_mail) !important;
		background-repeat: no-repeat !important;
		background-size: 15px 20px !important;

		&.nohavemail {
			background-position: 0 0 !important;
		}

		&.havemail {
			background-position: 0 -10px !important;
		}
	}
}
