.side {
    background: transparent !important;

    // A spacer is one box/part of the sidebar
    .spacer {
        margin: 10px 0 !important;

        background-color: transparent !important;

        #search {
            input[name="q"] {
                width: 300px !important;
                padding: 5px !important;
                margin-top: 0 !important;
                border-color: $blue_light !important;
                border-radius: 1px !important;

                font-size: 15px !important;
                text-align: center !important;

                -webkit-box-sizing: border-box !important;

                &:active, &:focus {
                    border: 1px solid $blue_dark !important;
                    outline: none !important;
                }
            }

            input[type="submit"] {
                display: none !important;
            }
        }

        .login-form-side {
            border: none !important;
        }

        .morelink {
            border: none !important;

            background: none !important;
            background-color: #F0F8FF !important;

            color: $blue_dark !important;
            font-weight: normal !important;
        }

        .morelink a {
            border: 1px solid $blue_light !important;
            border-radius: 1px !important;
        }

        .morelink a:hover {
            border: 1px solid $blue_dark !important;

            color: $blue_dark !important;
        }

        // Arrows on the buttons
        .nub {
            display: none !important;
        }

        .goldvertisement {
            padding: 5px !important;

            background-color: white !important;

            font-family: normal x-small verdana, arial, helvetica, sans-serif !important;
        }

        .bar, .bar span {
            border-radius: 1px !important;
        }

        .goldvertisement .inner {
            border: none !important;
        }

        .goldvertisement a {
            padding: 5px !important;
            border-bottom-width: 1px !important;
            border-radius: 1px !important;

            font-size: 12px !important;
        }

        .sidecontentbox  .content {
            width: 300px !important;
            box-sizing: border-box !important;
            margin-left: 0 !important;
            border-color: $blue_light !important;

            background-color: white !important;
        }

        .gadget {
            padding: 3px !important;

            .midcol {
                display: table-cell !important;
                float: none !important;
                vertical-align: middle !important;

                width: 15px !important;
                margin: 5px 10px 5px 5px !important;
            }

            .entry {
                display: table-cell !important;

                padding-left: 5px !important;
            }
        }

        .account-activity-box a {
            // Required for text-transform: uppercase !important;
            display: block !important;
        }

        .slidecontentbox .content {
            background-color: white !important;
        }

        .titlebox {
            padding: 5px !important;
            border: 1px solid $blue_light !important;
            border-radius: 1px !important;

            background-color: white !important;

            h1 + div {
                z-index: -1 !important;

                background-color: transparent !important;
            }

            .users-online {
                &::before {
                    height: 9px !important;
                    width: 9px !important;
                    margin: 4px 8px 4px 2px !important;
                    border: 1px solid $green !important;
                    border-radius: 50% !important;

                    background-color: $green_light !important;
                    background-image: none !important;
                    box-shadow: 0 0 2px $green !important;
                }

                span {
                    line-height: 20px !important;
                }
            }
        }

        .linkinfo {
            padding: 5px !important;
            border: 1px solid $blue_light !important;
            border-radius: 1px !important;

            background-color: $blue_white !important;
        }

        &:first-of-type {
            margin-top: 5px !important;
        }
    }
}

.gold-bubble {
    right: 5px !important;
    left: auto !important;

    border-radius: 1px !important;
}
