button, select, input[type="submit"] {
    padding: 6px !important;
    border-radius: 1px !important;
    border: 1px solid $blue_light !important;
    text-transform: capitalize !important;
    background-color: white !important;
    color: $blue_dark !important;
    height: auto !important;

    &:hover, &:active, &:focus {
        border-color: $blue_dark !important;
        background-color: $blue_white !important;
        outline: none !important;
    }
}
