.RAInput {
    width: 100% !important;
    box-sizing: border-box !important;
    padding: 6px !important;
    margin: 4px 0 !important;
    border: 1px solid $blue_light !important;
    border-radius: 0 !important;

    box-shadow: none !important;

    // Used in preferences
    -webkit-box-shadow: none !important;

    &:focus, &:active {
        border-color: $blue_dark !important;
        outline: none !important;
    }

    &::-webkit-input-placeholder:first-letter {
        text-transform: uppercase !important;
    }
}

input[type="text"],input[type="password"],input[type="email"],input[type="url"] {
    @extend .RAInput;

    height: auto !important;
}

.preftable input {
    width: auto !important;
}

textarea {
    @extend .RAInput;

    min-height: 100px !important;
}
