// Header
#header {
	background: $blue_white !important;
	border-bottom: 1px solid $blue_light !important;
	height: 73px !important;
	width: 100% !important;
	padding-bottom: 5px !important;
	z-index: $header_z_index !important;

	#sr-header-area {
		height: 28px !important;
		border-bottom: none !important;
		background: transparent !important;
	}

	#sr-header-area .width-clip, #sr-more-link {
		padding: 5px !important;
		background: transparent !important;
	}

	#sr-header-area .sr-list {
	    text-overflow: ellipsis !important;
	    max-width: 90% !important;
	    display: block !important;
	}

	#header-bottom-left {

		#header-img.default-header {
			background-image: url($path_reddit_logo) !important;
			background-size: auto 40px !important;
			background-position: center !important;
			width: 135px !important;
			margin: 5px 0 0 0 !important;
		}

		.tabmenu {
			li a {
				font-weight: normal !important;
				background-color: $blue_white !important;
				border: none !important;
				text-transform: capitalize !important;
				// Capitalize only works on blocks. So instead of using inline, we use blocks and left float.
				display: block !important;
				float: left !important;
				padding: 0 10px !important;
			}
		}
	}

	#header-bottom-right {
		display: block !important;
		background-color: $blue_white !important;
		border-spacing: 0 !important;
		bottom: 0 !important;
		top: auto !important;
		font-size: 11px !important;
		padding: 0 !important;
		& > * {
			margin-right: 3px !important;
		}
	}

	#header-bottom-right .separator {
		display: none !important;
	}

	#header-bottom-right {

		.user,
		#mail,
		.pref-lang,
		.logout,
		#modmail {
			display: inline-block !important;
		}

		#modmail  {
			margin-top: 4px !important;
		}

		.user,
		.pref-lang,
		.logout {
			margin: 0 !important;
			float: left !important;
			line-height: 24px !important;
			padding: 0 5px !important;
			width: auto !important;
			height: auto !important;
			font-weight: normal !important;
			&:first-letter {
				text-transform: uppercase !important;
			}
		}

		.user {
			margin-left: 10px !important; // Spacing between userbarToggle from RES and the username
		}
	}

	.logout {
		text-transform: lowercase !important; // Prevent double capitals from capitalize on 2 words like 'Log out' (Log Out -> Log outline-offset: )
		a {
			display: block !important; // For :first-letter uppercase
		}
	}

	.userkarma {
		border-bottom: none !important; // Removes the dotted bottom border below your karma
	}

	#mail {
		float: left !important;
		height: 10px !important;
		margin-top: 5px !important;
		padding: 0 !important;
		background-image: url($path_mail) !important;
		background-size: 15px 20px !important;
		background-repeat: no-repeat !important;
		&.nohavemail {
			background-position: 0 0 !important;
		}
		&.havemail {
			background-position: 0 -10px !important;
		}
	}
}

// Right Sidebar
.side {
	background: transparent !important;

	.spacer {
		background-color: transparent !important;
		margin: 10px 0 !important;

		&:first-of-type {
			margin-top: 5px !important;
		}
	}

	#search {
		input[name="q"] {
			border-radius: 1px !important;
			border-color: $blue_light !important;
			width: 300px !important;
			padding: 5px !important;
			-webkit-box-sizing: border-box !important;
			font-size: 15px !important;
			text-align: center !important;
			margin-top: 0 !important;

			&:active, &:focus {
				outline: none !important;
				border: 1px solid $blue_dark !important;
			}
		}

		input[type="submit"] {
			display: none !important;
		}
	}

	.morelink {
		background: none !important;
		background-color: #F0F8FF !important;
		font-weight: normal !important;
		color: $blue_dark !important;
		border: none !important;
	}

	.morelink a {
		border: 1px solid $blue_light !important;
		border-radius: 1px !important;
	}

	.morelink a:hover {
		border: 1px solid $blue_dark !important;
		color: $blue_dark !important;
	}

	.nub {
		display: none !important;
	}

	.goldvertisement {
		background-color: white !important;
		font-family: normal x-small verdana, arial, helvetica, sans-serif !important;
		padding: 5px !important;
	}

	.bar, .bar span {
		border-radius: 1px !important;
	}

	.goldvertisement .inner {
		border: none !important;
	}

	.goldvertisement a {
		padding: 5px !important;
		font-size: 12px !important;
		border-radius: 1px !important;
		border-bottom-width: 1px !important;
	}


	.sidecontentbox  .content {
		background-color: white !important;
		border-color: $blue_light !important;
		width: 300px !important;
		box-sizing: border-box !important;
		margin-left: 0 !important;
	}

	.gadget {
		padding: 3px !important;

		.midcol {
			width: 15px !important;
			margin: 5px 10px 5px 5px !important;
			display: table-cell !important;
			float: none !important;
			vertical-align: middle !important;
		}

		.entry {
			display: table-cell !important;
			padding-left: 5px !important;
		}
	}

	.account-activity-box a {
		display: block !important; // Required for text-transform: uppercase !important;
	}

	.slidecontentbox .content {
		background-color: white !important;
	}

	.titlebox {
		background-color: white !important;
		border: 1px solid $blue_light !important;
		border-radius: 1px !important;
		padding: 5px !important;

		h1 + div {
			background-color: transparent !important;
			z-index: -1 !important;
		}

		.users-online {
			&::before {
				background-image: none !important;
				background-color: $green_light !important;
				border-radius: 50% !important;
				border: 1px solid $green !important;
				margin: 4px 8px 4px 2px !important;
				height: 9px !important;
				width: 9px !important;
				box-shadow: 0 0 2px $green !important;
			}

			span {
				line-height: 20px !important;
			}
		}
	}

	.linkinfo {
		background-color: $blue_white !important;
		border: 1px solid $blue_light !important;
		border-radius: 1px !important;
		padding: 5px !important;
	}
}

.gold-bubble {
	border-radius: 1px !important;
	left: auto !important;
	right: 5px !important;
}

// Content

.content {
	margin: 5px !important;

	.spacer {
		margin-bottom: 0 !important;
	}

	#siteTable {
		overflow-x: hidden !important;
		margin-top: 0px !important;

		.link {
			display: table !important;
			background-color: white !important;
			padding: 3px 0 !important;
			margin-bottom: 4px !important;
			border-radius: 1px !important;
			border: 1px solid $blue_light !important;
			.entry.RES-keyNav-activeElement {
				background: white !important;
			}
			.flat-list {
				padding: 2px 0 !important; // This somehow undoes the stutter effect when opening the expando
			}
			.usertext {
				max-width: $preferred_width !important;
			}
		}

		.comment {
			background-color: white !important;
			border: 1px solid $blue_light !important;
			margin: 0 0 5px 0 !important;
			padding: 5px !important;
			.entry.RES-keyNav-activeElement {
				background: white !important;
			}
		}

		.last-clicked {
			border: none !important;
		}

		.rank {
			display: none !important;
		}

		.midcol {
			float: none !important;
			max-width: 50px !important;
			min-width: 50px !important;
		}

		.entry {
			width: 100% !important;
			min-height: 60px !important;
			padding: 0 3px !important;
		}

		.entry, .thumbnail, .midcol {
			display: table-cell !important;
			vertical-align: middle !important;
		}

		.thumbnail {
			min-width: 70px !important;
			max-width: 70px !important;
		}

		.md {
			border: none !important;
			background-color: transparent !important;
			max-width: none !important;
		}
	}

	.bottom-area {
		// There already is 3px to the top of this for some reason
		margin-top: 3px !important;
		margin-bottom: 6px !important;
		line-height: 27px !important;
		span, a, button {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
	}

	.commentarea {
		overflow-x: hidden !important;

		.comment {
			background-color: white !important;
			border: 1px solid $blue_light !important;
			border-radius: 1px !important;
		}

		.sitetable > .comment .entry.RES-keyNav-activeElement {
			background-color: transparent !important;
			.noncollapsed {
				background-color: transparent !important;
				.md:first-child {
					background-color: transparent !important;
				}
			}
		}
	}

	.usertext {
		margin-bottom: 0 !important;

		.usertext-edit {
			width: auto !important;
		}
	}

	.submit.content {
		.formtabs-content {
			width: auto !important;
			overflow: hidden !important;
			.spacer {
				margin-bottom: 5px !important;
				.roundfield, & + .roundfield {
					width: auto !important;
					padding: 5px !important;
					background-color: $blue_white !important;
					border: 1px solid $blue_light !important;
					border-radius: 0 !important;
					.title {
						margin-right: 10px !important;
						line-height: 27px !important;
					}
					&.captcha {
						margin-bottom: 5px !important;
					}
				}
			}
		}
	}

	.wikititle {
		color: black !important;
	}

	.pageactions {
		border-radius: 1px !important;
		border: 1px solid $blue_light !important;
		background-color: white !important;

		.wikiaction {
			&.wikiaction-current {
				color: orangered !important;
				background-color: transparent !important;
			}
		}
	}

	.wiki-page-content {
		margin: 0 !important;
		.md.wiki {
			border: 1px solid $blue_light !important;
			padding: 0 10px !important;
			background-color: white !important;
			.toc ul {
				border-color: $blue_dark !important;
			}
		}
	}

	.pretty-form {
		overflow-x: hidden !important;
		.linefield {
			width: auto !important;
			background-color: $blue_white !important;
			margin-bottom: 0 !important;
			border: 1px solid $blue_light !important;
			border-bottom: none !important;
			border-top: none !important;
			&:first-of-type {
				border-top: 1px solid $blue_light !important;
			}
			&:last-of-type {
				border-bottom: 1px solid $blue_light !important;
			}
		}
	}
}

.listing-chooser.initialized {
	// Hide the left sidebar
	display: none !important;
	width: 0 !important;
}

// Footer
.footer-parent {
	margin: 0 !important;
	padding: 0 !important;
}

// NERPageMarker inherits from .footer, we cannot put it in .footer-parent
.footer {
	margin-top: 0 !important;
	border: 1px solid $blue_light !important;
	border-radius: 1px !important;
	text-transform: capitalize !important;
	background: white !important;
}
